openapi: 3.0.0
info:
  title: Greenhouse Gas Emissions API
  description: Greenhouse Gas Emissions API
  contact:
    name: dk
    url: https://dwarkanath.com
  version: 1.0.0
servers:
- url: https://ghgapi.dwarkanath.com/v1
  description: Greenhouse Gas Emissions API
paths:
  /countries:
    get:
      description: Lists all the countries with their id and available minimum start
        year and maximum end year
      responses:
        "200":
          description: Success Response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/countries'
  /country/{id}:
    get:
      description: Returns a list of values of greenhouse gas emissions for requested
        gases for a given country id between the start and end years (inclusive)
      parameters:
      - name: id
        in: path
        required: true
        style: simple
        explode: false
        schema:
          maximum: 42
          minimum: 0
          type: integer
          example: 0
      - name: startYear
        in: query
        required: false
        style: form
        explode: true
        schema:
          maximum: 2014
          minimum: 1990
          type: integer
          example: 1992
      - name: endYear
        in: query
        required: false
        style: form
        explode: true
        schema:
          maximum: 2014
          minimum: 1990
          type: integer
          example: 2000
      - name: gases
        in: query
        description: "Possible values: CO2, GHGCO2, GHG, HFC, CH4, NF3, N2O, PFC,\
          \ SF6, UNSP. Combine more than one gas with + sign"
        required: false
        style: form
        explode: true
        schema:
          type: string
          example: GHG+CO2
      responses:
        "200":
          description: Success Response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/emissions'
        "400":
          description: Invalid parameters
components:
  schemas:
    countries:
      properties:
        id:
          type: integer
          example: 0
        country:
          type: string
          example: Australia
        startYear:
          type: integer
          example: 1990
        endYear:
          type: integer
          example: 2014
    emissions:
      properties:
        id:
          type: integer
          example: 0
        year:
          type: integer
          example: 1993
        gas:
          type: string
          example: CO2
        value:
          type: number
          example: 289142.267681326
